@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 1rem;
  z-index: 30;
  background-color: #fff;
}
#navigation .logo {
  display: inline-block;
}
#navigation .logo img {
  height: auto;
  width: 150px;
}
#navigation #navlinks {
  display: none;
  transition: all 0.5s ease-in-out;
}
#navigation #navlinks .navlinks {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.5s ease-in-out;
}
#navigation #navlinks .navlinks .link a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #272a31;
}
#navigation #navlinks .navlinks .link a:hover {
  color: #ec5242;
}
#navigation #navlinks .navlinks :nth-child(6) {
  border: 3px solid #ec5242;
  padding: 0.5rem;
}
#navigation #navlinks .navlinks :nth-child(6) a {
  color: #ec5242;
}
#navigation #navlinks .navlinks :nth-child(6):hover {
  border-color: #272a31;
}
#navigation #navlinks .navlinks :nth-child(6):hover a {
  color: #272a31;
}
#navigation #navlinks.open {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
#navigation #navlinks.open .navlinks {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3.5rem;
}
#navigation #navlinks.open .navlinks .link a {
  font-size: 20px;
}
#navigation .toggle {
  height: 2.188rem;
  width: 2.188rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.5s ease-in-out;
  margin-right: 1.5rem;
  cursor: pointer;
  z-index: 10;
}
#navigation .toggle .menu {
  position: relative;
  height: 0.25rem;
  width: 1.875rem;
  border-radius: 5px;
  background: #272a31;
  transition: all 0.5s ease-in-out;
}
#navigation .toggle .menu::before,
#navigation .toggle .menu::after {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 1.875rem;
  border-radius: 5px;
  background: #272a31;
  transition: all 0.5s ease-in-out;
}
#navigation .toggle .menu::before {
  transform: translateY(-10px);
}
#navigation .toggle .menu::after {
  transform: translateY(10px);
}
#navigation .toggle.open .menu {
  transform: translateX(-35px);
  background-color: transparent;
}
#navigation .toggle.open .menu::before {
  transform: rotate(45deg) translate(24px, -24px);
}
#navigation .toggle.open .menu::after {
  transform: rotate(-45deg) translate(24px, 24px);
}

#hero {
  margin-top: 5rem;
  height: 100%;
  background-image: url("./assets/home-bg-desk.png");
  background-repeat: no-repeat;
  padding: 1.5rem 1.5rem 2rem;
}
#hero .intro {
  display: flex;
  flex-direction: column;
}
#hero .intro h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: #ec5242;
  margin-top: 1.5rem;
}
#hero .intro h1 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 1.9rem;
  -webkit-background-clip: text;
  -moz-background-inline-policy: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("./assets/h1-bg.jpeg");
}
#hero .desc {
  background-color: #fff;
  margin: 1rem 0;
}
#hero .desc p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
#hero .date {
  margin-top: 2rem;
}
#hero .date .countDown {
  font-size: 1.2rem;
}
#hero .date .where {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

#program {
  display: flex;
  flex-direction: column;
  background-image: url("./assets/diamond.png");
  background-color: #272a31;
  padding-bottom: 3rem;
}
#program .prg-ttl {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}
#program .prg-ttl h3 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #fff;
}
#program .prg-ttl hr {
  width: 50px;
  border-color: #ec5242;
  margin-top: 0.7rem;
}
#program .programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem;
  gap: 0.5rem;
}
#program .programs .program {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  background-image: url("./assets/diamond.png");
  background-color: rgba(93, 93, 93, 0.4);
  height: 7rem;
  width: 100%;
}
#program .programs .program img {
  width: 40px;
  height: auto;
}
#program .programs .program:nth-child(3) img {
  filter: invert(100%);
}
#program .programs .program h5 {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  color: #ec5242;
  margin: 0.6rem 0;
}
#program .programs .program p {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.15rem;
  text-align: start;
  color: #fff;
  width: 50%;
}
#program .seePrg {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}
#program .seePrg a {
  display: none;
}
#program .seePrg button {
  align-self: center;
  font-family: "Lato", sans-serif;
  background-color: #ec5242;
  color: #fff;
  border: none;
  padding: 1rem;
}

#speakers {
  display: flex;
  flex-direction: column;
}
#speakers .spkr-ttl {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
#speakers .spkr-ttl h2 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}
#speakers .spkr-ttl hr {
  width: 50px;
  border-color: #ec5242;
  margin-top: 0.7rem;
}
#speakers .cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  padding: 0 1rem;
  margin-top: 2rem;
}
#speakers .cards .card {
  display: flex;
  justify-content: space-between;
}
#speakers .cards .card .imgs {
  position: relative;
}
#speakers .cards .card .imgs .checked {
  width: 70px;
  opacity: 0.8;
}
#speakers .cards .card .imgs .spkr {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 15px;
  left: 15px;
}
#speakers .cards .card .text {
  width: 57%;
}
#speakers .cards .card .text h5 {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 1rem;
}
#speakers .cards .card .text .position {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: #ec5242;
}
#speakers .cards .card:nth-child(2) .text .abt-author {
  margin-top: 1rem;
}
#speakers .cards .card.open {
  display: flex;
}
#speakers .cards .toggle-card {
  display: none;
}
#speakers .card-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
#speakers .card-btns .more {
  width: 90%;
  padding: 0.7rem;
}
#speakers .card-btns .more .fa-chevron-down {
  color: #ec5242;
  font-size: 1rem;
}
#speakers .card-btns .more.hide {
  display: none;
}
#speakers .card-btns .less {
  width: 90%;
  padding: 0.7rem;
  display: none;
}
#speakers .card-btns .less .fa-chevron-up {
  color: #ec5242;
  font-size: 1rem;
}
#speakers .card-btns .less.show {
  display: block;
}

@media screen and (min-width: 426px) {
  #hero .intro h2 {
    font-size: 2rem;
  }
  #hero .intro h1 {
    font-size: 2.8rem;
  }
  #hero .date .countDown {
    font-size: 1.5rem;
  }
  #hero .date .where {
    font-size: 1.1rem;
  }
  #program .programs .program img {
    width: 50px;
  }
  #program .programs .program h5 {
    font-size: 1.2rem;
  }
  #program .programs .program p {
    font-size: 1rem;
    line-height: 1.35rem;
  }
  #program .seePrg button {
    padding: 1.5rem;
    font-size: 1.1rem;
  }
  #speakers .cards .card .imgs .checked {
    width: 80px;
  }
  #speakers .cards .card .imgs .spkr {
    width: 150px;
    height: 150px;
  }
  #speakers .card-btns {
    margin-top: 3.5rem;
  }
}
@media screen and (min-width: 600px) {
  #navigation #navlinks {
    display: block;
  }
  #navigation .toggle {
    display: none;
  }
  #hero {
    padding: 0 3.5rem 2rem;
  }
  #hero .intro h2 {
    font-size: 2.4rem;
  }
  #hero .intro h1 {
    font-size: 3.5rem;
  }
  #hero .desc {
    width: 90%;
    margin: 0.5rem 0;
  }
  #hero .desc p {
    font-size: 1.1rem;
  }
  #hero .date {
    margin-top: 1.5rem;
  }
  #hero .date .countDown {
    font-size: 2.2rem;
  }
  #hero .date .where {
    font-size: 1.2rem;
  }
  #program .seePrg button {
    padding: 2rem;
    font-size: 1.3rem;
  }
  #speakers .cards {
    gap: 6rem;
  }
  #speakers .cards .card .text {
    width: 67%;
  }
  #speakers .cards .toggle-card {
    display: flex;
  }
  #speakers .card-btns {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  #navigation {
    padding: 0 3.5rem;
  }
  #hero {
    padding: 0 3.5rem 3rem;
  }
  #hero .intro h2 {
    font-size: 2.8rem;
  }
  #hero .intro h1 {
    font-size: 4rem;
  }
  #hero .desc {
    width: 65%;
  }
  #program {
    padding-bottom: 2.5rem;
  }
  #program .programs {
    flex-direction: row;
  }
  #program .programs .program {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 3rem;
    min-height: 27rem;
  }
  #program .programs .program h5 {
    margin: 0.5rem 0;
    font-size: 1.3rem;
  }
  #program .programs .program p {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    text-align: center;
  }
  #program .seePrg button {
    display: none;
  }
  #program .seePrg a {
    display: block;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: underline;
  }
  #speakers .cards .card .text {
    width: 75%;
  }
  #speakers .cards .card .text h5 {
    font-size: 1.4rem;
  }
  #speakers .cards .card .text .position {
    font-size: 1rem;
  }
  #speakers .cards .card .text .abt-author {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 992px) {
  #program .programs {
    padding: 0 3.5rem;
  }
  #program .programs .program {
    min-height: 23rem;
  }
  #speakers .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 0 3.5rem;
  }
  #speakers .cards .card .text {
    width: 58%;
  }
  #speakers .cards .card .text h5 {
    font-size: 1.2rem;
  }
  #speakers .cards .card .text .position {
    font-size: 1rem;
  }
  #speakers .cards .card .text .abt-author {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1200px) {
  #speakers .cards .card .text {
    width: 68%;
  }
}/*# sourceMappingURL=styles.css.map */